<body class="hold-transition login-page">
  <div class="login-box">

    <div class="register-box">
      <div class="register-logo">
        <h2>Вход</h2>
      </div>

      <div class="login-box-body">
        <%- if flash[:alert] %>
        <p style="color: red">
          <%= flash[:alert] %>
        </p>
        <%- end %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group has-feedback">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class: "form-control" %>
        </div>

        <div class="form-group has-feedback">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "пароль", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Войти", class: "btn btn-primary btn-block btn-flat"%>
        </div>
        <% end %>

        <div class="text-center" style="margin-top: 10px">
          <%= link_to 'Зарегестрироваться', new_user_registration_path%>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
